---
import Layout from '../layouts/Layout.astro';
import { dateactivites } from '../js/backend.mjs';
import Card from '../components/card.astro';
import { Picture } from 'astro:assets';
import PocketBase from 'pocketbase';

const pb = new PocketBase('http://127.0.0.1:8090'); // Connexion PocketBase
const activites = await dateactivites();
const { record = activites, field = "photo", alt, classPicture, classImg, thumb = "1024x1024" } = Astro.props;

---

<Layout title="activités">
  <section class="p-6">
    <h1 class="text-3xl font-bold mb-6">Liste des activités</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {activites.map(activites => (
        <Card 
          type={activites.type} 
          date={activites.date_activites}
          description={activites.description} 
          image={activites.image} 
          url={`/activites/${activites.id}`} 
        />
        
      ))}
    </div>
  </section>
</Layout>